

    .karmascore-search-icon-field  {
        z-index: 1;
        cursor: initial;
        top: 7px !important;
        left:2% !important;
        width: 21px !important;
        height: 21px !important;
        border-color: #fff !important;
        background-color: #fff !important;
    }