.create-new-btn-cls.x-btn-default-small { 
	background-color: #31a950 !important;
	border-color: #31a950 !important;
	margin: 0px 0 0 15px;
	height: 35px;
	
}
.create-new-btn-cls .x-btn-inner-default-toolbar-small {
	color:white;
    /*padding: 3px 30px 0px 0px;*/
    text-align: center;
}
/*.requestCombo-cls .x-form-trigger-default {
	border: 1px solid gray;
}*/
.requestCombo-cls .x-form-text-field-body-default {
	    border: 1px solid #d2cbcb;
}
.requestCombo-cls .x-form-item-label .x-form-item-label-defaultx-unselectable {
	width: 82px;
}
/*.add-filter-apply-btn .x-btn-inner-default-toolbar-small {
	
	color: white;
}*/
.filter-submit-btn .x-btn-inner-default-toolbar-small {
	color:#ffffff !important;
}
.karmascore-search-icon-field {
	margin-left: 20px !important;
}
.karmascore-search-field {
	margin-left: 15px !important;
}