// /*
//  * This file contains styling for the Main view.
//  */
@import "compass";
@import "compass/css3";
@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-UltraLight.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-Black.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-Heavy.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-Bold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-SemiBold.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-Thin.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/resources/fonts/aileron/Aileron-UltraLight.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'WtcFontResource';
    src: url('/resources/fonts/ddo/WTC_DDO.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Awesome';
    src: url('/resources/fonts/FontAwesome/Goals_DDO.ttf');
    font-weight: 100;
    font-style: normal;
}

.x-body *{
    font-family: 'Aileron', 'Open Sans';
    font-weight: 400;
}
.applicationenquiry-backcolor{
    background-color: #fff !important;
}
.main-viewport-color{
    .x-panel-body-default{
        background-color: #f6f6f6 ;
    }
}
.x-grid-row-expander:before,
.x-form-trigger-default,
.x-datepicker-arrow,
.x-monthpicker-yearnav-button,
.x-toolbar-more-icon,
.x-menu-item-arrow-default,
.x-tool-img,
.x-menu-item-unchecked .x-menu-item-icon-default.x-menu-item-checkbox:before,
.x-menu-item-checked .x-menu-item-icon-default.x-menu-item-checkbox,
.x-hmenu-lock,
.x-menu-item-checkbox {
    font-family: FontAwesome !important;
}

.x-form-checkbox-default,
.x-form-spinner,
.x-menu-item-icon {
    font-family: ExtJS !important;
}

.x-form-trigger-wrap-default{
    border: none ;
}
.projects-emptytext-cls {
    font-size: 24px !important;
    font-weight: 300 !important;
    position: relative;
    text-align: center !important;
    top: 98px !important;
}
// /*
//  * Generates a set of style rules for the "navigation" tab UI.
//  */
// @include extjs-tab-panel-ui(
//     $ui: 'navigation',
//     $ui-tab-background-color: transparent,
//     $ui-tab-background-color-over: #505050,
//     $ui-tab-background-color-active: #303030,
//     $ui-tab-background-gradient: 'none',
//     $ui-tab-background-gradient-over: 'none',
//     $ui-tab-background-gradient-active: 'none',
//     $ui-tab-color: #acacac,
//     $ui-tab-color-over: #c4c4c4,
//     $ui-tab-color-active: #fff,
//     $ui-tab-glyph-color: #acacac,
//     $ui-tab-glyph-color-over: #c4c4c4,
//     $ui-tab-glyph-color-active: #fff,
//     $ui-tab-glyph-opacity: 1,
//     $ui-tab-border-radius: 0,
//     $ui-tab-border-width: 0,
//     $ui-tab-inner-border-width: 0,
//     $ui-tab-padding: 24px,
//     $ui-tab-margin: 0,
//     $ui-tab-font-size: 15px,
//     $ui-tab-font-size-over: 15px,
//     $ui-tab-font-size-active: 15px,
//     $ui-tab-line-height: 19px,
//     $ui-tab-font-weight: bold,
//     $ui-tab-font-weight-over: bold,
//     $ui-tab-font-weight-active: bold,
//     $ui-tab-icon-width: 24px,
//     $ui-tab-icon-height: 24px,
//     $ui-tab-icon-spacing: 5px,
//     $ui-bar-background-color: #404040,
//     $ui-bar-background-gradient: 'none',
//     $ui-bar-padding: 0,
//     $ui-strip-height: 0
// );

// /*
//  * Generates a set of style rules for the "navigation" panel UI.
//  */
// @include extjs-panel-ui(
//     $ui: 'navigation',
//     $ui-header-color: #fff,
//     $ui-header-glyph-color: #fff,
//     $ui-header-glyph-opacity: 1,
//     $ui-header-font-size: 20px,
//     $ui-header-line-height: 24px,
//     $ui-header-font-weight: bold,
//     $ui-header-icon-height: 24px,
//     $ui-header-icon-width: 24px,
//     $ui-header-icon-spacing: 15px,
//     $ui-header-background-color: $base-color,
//     $ui-header-padding: 0,
//     $ui-header-text-margin: 36px,
//     $ui-header-noborder-adjust: false
// );

// .x-title-icon-navigation {
//     font-family: FontAwesome;
//     color: #fff;
//     font-size: 24px;
//     line-height: 24px;
// }

// .x-tab-icon-el-navigation {
//     font-family: FontAwesome;
//     color: #acacac;

//     .x-tab-over & {
//         color: #c4c4c4;
//     }

//     .x-tab-active & {
//         color: #fff;
//     }
// }

// .x-panel-header-title-navigation > .x-title-text-navigation:after {
//     top: 30px;
//     right: -24px;
// }

// //preferences.scss


// .wallet-toolbar-cls{
//     background:transparent;
//     text-align: center;
//     left:0px !important;
//     padding: 10px 0px 10px 10px;
//     .x-box-inner{
//        border-top: 1px solid #EBEBEB;
//     }
// }

// .wallet-toolbar-cls .x-box-inner {
//     border-top: 0px solid #ebebeb !important;
// }

// .karmalist-cls {
// .x-column-header {
//     border-right: 0px !important;
//     color: #fff;
//     outline: 0;
//     background-color: #000;
// }
// .x-grid-header-ct {
//     background-color: #000 !important;
// }
// .x-grid-cell {
//     position: relative;
//     padding: 3px;
// }
// .x-column-header-over {
//     color: #FFF !important;
//     background-color: #000 !important;
//     border: none;
// }
// .x-column-header .x-column-header-open {
//     background-color: #000 !important;
// }
// .x-column-header-trigger {
//     background: none;
//     background-color: #000 !important;
// }
// .x-column-header-align-left {
//     text-align: center !important;
// }
// .x-grid-item-focused {
//     .x-grid-cell-inner:before {
//         border: none !important;
//     }
// }
// .x-grid-row .x-grid-cell {
//     border-bottom: none !important;
//     border-top: none !important;
//     border-right: 1px solid rgba(115, 109, 109, 0.09);
// }
// .x-grid-with-row-lines .x-grid-item {
//     border-width: 0px !important;
// }
// .x-grid-dirty-cell > .x-grid-cell-inner:after {
//     content: "" !important
// }
// }

// .rule-tb-cls.x-toolbar-default {
//     padding: 13px 0 6px 8px;
//     border-style: none;
//     border-width: 0px;
//     background-image: none;
//     height: 55px;
//     background-color: transparent;
// }

// .rule-add-btn {
//     &.x-btn-default-toolbar-small {
//         @include border-radius(6px !important);
//         background-color: #000 !important;
//         border-color: #000 !important;
//         width: 110px;
//     }
//     .x-btn-inner-default-toolbar-small {
//         font-size: 12px !important;
//         color: #f0f0f0;
//     }
// }

// .rule-window-cls {
//     .x-window-header-title-default > .x-title-text-default{
//         text-align: center;
//     }

// }
// .rule-window-cls{
//     .x-window-default {
//         border: none !important;
//         background:#000 !important;
//     }
// }

// .x-window-header {
//     background: #000;
//     border-color: #000;
// }
// //JobApplications.scss

// .ddo-jobopenings-grid {
//     position: fixed;
// }
// .ddo-dashboard-grid .x-panel-header-default {
// 	background-color: #000;	
// 	border-color: #000;
// }
// .jobopening-cls .x-dataview-item {
// 	width:48%;
//     display: inline-block;
//     cursor: pointer;
//     vertical-align: top;
//     margin: 8px;
//     -webkit-border-radius: 4px;
//     -moz-border-radius: 4px;
//     -ms-border-radius: 4px;
//     -o-border-radius: 4px;
//     border-radius: 4px;
//     -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     -webkit-transition: -webkit-all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
//     -moz-transition: -moz-all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
//     -o-transition: -o-all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
//     transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
// }
// .jobopening-cls .ddo-jobopening-item {
//     width: 100% !important;
// 	display: table;
// 	padding: 15px;
// 	background: #fff;	
//     -webkit-border-radius: 4px;
//     -moz-border-radius: 4px;
//     -ms-border-radius: 4px;
//     -o-border-radius: 4px;
//     border-radius: 4px;
// }
// .status-combo-cls {
//     float: right;
// }
// .arrow-cls{
// 	vertical-align: top;
// }

// .status-div-cls{
// 	padding: 15px;
// }
// .action-cls{
// 	display:none;
// }
// select.select-cls {
//     border: none !important;
//     background: transparent;
// }
// .title-cls{
//     font-size: 16px;
//     font-weight: 500;
// }
// .creator-cls{
//     font-size: 16px;
//     color: #919191;
// }
// .title-div-cls{
//     padding-bottom: 8px;
// }
// .desc-cls{
//     padding-bottom: 18px;
//     padding-top: 18px;
//     font-size: 14px;
// }
// .loc-exp{
//     font-size: 14px;
//     padding-bottom: 8px;
// }
// .skill-cls{
//     font-size: 14px;
// }
// .positions-cls{
//     float: right;
//     background: #FFCB69;
//     padding: 3px 6px;
//     border-radius: 12px;
//     color: #fff;
//     font-size: 12px;
// }
// .act-showcls{
//     position: absolute;
//     background: #fff;
//     display:block;
//     li {
//         list-style: none;
//     }
//     ul {
//         margin: 8px;
//         padding: 0px;
//     }
// }
// .act-removecls{
//     display: none;
// }
// .act-cls{
//     float: right;
// }
// .rec-assigncls {
//     float: left;
// }
// .checkImg {
//     background-image: url(/resources/images/Check-box.svg);
//     background-repeat: no-repeat;
//     width: 12px !important;
//     height: 14px !important;
//     vertical-align: bottom;
//     display: inline-block;
//     margin-right: 5px;
// }

// .jobback-btn-cls {
//     left: 0 !important;
//     background-color: #000000 !important;
// }

// .backlabel-cls {
//     left: 45px !important;
//         color: #818181;
//     font-size: 15px;
// }

// .titlelabel-cls {
//     left: 351px !important;
//     color: #818181;
//     font-size: 15px;
// }

// .upload-cls {
//     background: url(./images/icons/round_delete.png);
// }
// .tooltip-cls {
//         padding: 6px 0 6px 8px;
//         border-style: none;
//         border-color: #d0d0d0;
//         border-width: 0px;
//         background-image: none;
//         background-color: #efefef !important;
//     }


// .form-cls{
    
    
//     .x-panel-header-title-default {
//         text-transform: none;
//         padding: 0;
//         text-align: center;
//     }   

//     li.x-tagfield-item {
//         background: #FFCB69 !important;
//         border-radius: 4px !important;
//     }

//     .x-form-item-body {
//         vertical-align: middle;
//         height: 100%;
//         /* border: 1px solid #dedede;*/
//     }

//     .x-form-text-field-body-default {
//          border: 1px solid #dedede !important;
//     }

//     .x-panel-header-title-default > .x-title-text-default {
//         color: #818181 !important;
//         font-weight: 500 !important;
//         /* font-size: 16px; */
//     }

//     .ta-mandatory-field-cls {
//     color: red;
//     }


    .x-form-item-label-default {
        color: #404040;
        font: normal 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
         min-height: 32px !important;
         padding-top: 8px !important;
        padding-right: 5px !important;
       text-align: right;
    }


.x-form-text-default {
    color: #000000;
    padding: 0px 9px 4px;
    background-color: #fff;
    font: normal 14px/23px Open Sans;
    min-height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 8px;
}
.searchFields .x-form-text-default {
    padding-left: 17px !important;
}

.filter-btncls.x-btn-default-small {
    background-color: #fff !important;
    border-radius: 4px !important;
    border: none;
    height: 33px;
    width: 33px;
    background-size: 24px !important;
    background-position: 5px 5px;
    background-image: url(/resources/images/jobs/ic_filter_list_black_24px.svg) !important;
    display: inline-block;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.01) !important;
}
// .karmascore-search-icon-field.x-btn-default-small:before {
//     // content: '\0041' !important;
//     font-size: 90%;
//     position: relative;
//     font-weight: 500;
//     right: 10px;
//     bottom: 4px;
// }
.karmascore-search-icon-field.x-btn-default-small{
    font-family: 'WtcFontResource' !important;
   font-size: 30px;
   padding: 5px 0 0px 10px;
}
.karmascore-search-icon-field.x-btn-default-small {
    z-index: 1;
    cursor: initial;
    top: 7px !important;
    left: 14px !important;
    width: 30px !important;
    height: 23px !important;
    border-color: #fff !important;
    background-color: #fff !important;
}
.fa-search:before {
    color: black;
}
.karmascore-search-icon-field  {
    z-index: 1;
    cursor: initial;
    top: 7px !important;
    left:2% !important;
    width: 21px !important;
    height: 21px !important;
    border-color: #fff !important;
    background-color: #fff !important;
}
.karmascore-search-icon-field {
	margin-left: 20px !important;
}
.job-search-icon {
    margin-left: 5px !important;
    margin-top: -8px !important;
}
//     .x-btn-default-small {
//         border-color: #d0d0d0 !important;
//         background-color: white !important; 
//     }   

//     .x-btn-icon-el-default-small {
//         font-size: 16px;
//         height: 16px;
//         color: #404040;
//         line-height: 16px;
//     }
    
//     .x-btn-inner-default-small {
//         font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//         color: #404040 !important;
//         padding: 0 5px; 
//     }
    
// }

// .fieldcontainer-cls {
//     border: 1px solid white;
// }

// .editor-cls {
//     .x-toolbar-default {
//     background-color: #404040;
//     color: white;
//     }
// }


// .job-header .x-panel-header-default {
//     background-color: rgba(255, 255, 255, 0) !important;
//     border-color: #fff !important;
// }



// .tag-cls li.x-tagfield-item {
//         background: #919191 !important;
//         border-radius: 4px !important;
//     }


// .jobform-cls {

//     .approval-btn {
//         background-image: none;
//         background-color:#19A844 !important;
//         border: #19A844 !important;
//         color: white;
//     }

//     .require-btn .x-btn-inner-default-toolbar-small {
//         font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//         /*color: !important;*/
//         padding: 0 5px;
//         text-decoration: underline;
//         /* max-width: 100%; */
//     }

//     .approval-btn .x-btn-inner-default-toolbar-small {
//         font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//         color: white !important;
//         padding: 0 5px;
        
//         /* max-width: 100%; */
//     }
// }

// .job-header .x-panel-header-default {
//     background-color: rgba(255, 255, 255, 0) !important;
//     border-color: #fff !important;
// }

// .combo-cls {
    
//     .x-form-text-field-body-default {
//          min-width: 89px;
//         /* max-width: 170px; */
//     }
// }

// /*.requestCombo-cls .x-form-trigger-default {
//     border: 1px solid gray;
// }*/
.requestCombo-cls .x-form-text-field-body-default {
    border: 1px solid #d2cbcb;
    border-radius: 2px !important;
}
.requestCombo-cls .x-form-item-label .x-form-item-label-defaultx-unselectable {
width: 82px;
}
.requestCombo-cls {
.x-form-text-default, .x-form-empty-field {
text-align: center;
}
} 
// .requestCombo-cls .x-form-item-label .x-form-item-label-defaultx-unselectable {
//     width: 82px;
// }
// /*.add-filter-apply-btn .x-btn-inner-default-toolbar-small {
    
//     color: white;
// }*/
// .filter-submit-btn .x-btn-inner-default-toolbar-small {
//     color:#ffffff !important;
// }

.karmascore-search-field {
    margin-left: 15px !important;
    padding: 0px 0px 0px 27px;
    background-color: #fff !important;
    left: 0px !important;
}

//  .job-search-icon{
//         margin-left: 15px !important;       
//     margin-top: -8px !important;
// }
   

.filtertoolbar-cls {
    .x-panel-body-default {
        background: transparent;
    }
}


/*
 * This file contains styling for the Main view.
 */

/*
 * Generates a set of style rules for the "navigation" tab UI.
 */
 @include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #505050,
    $ui-tab-background-color-active: #303030,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #acacac,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: #404040,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);

/*
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false
);

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

//preferences.scss


.wallet-toolbar-cls{
    background:transparent;
    text-align: center;
    left:0px !important;
    padding: 10px 0px 10px 10px;
    .x-box-inner{
       border-top: 1px solid #EBEBEB;
    }
}

.wallet-toolbar-cls .x-box-inner {
    border-top: 0px solid #ebebeb !important;
}

// .karmalist-cls {
// .x-column-header {
//     border-right: 0px !important;
//     color: #fff;
//     outline: 0;
//     background-color: #000;
// }
// .x-grid-header-ct {
//     background-color: #000 !important;
// }
// .x-grid-cell {
//     position: relative;
//     padding: 3px;
// }
// .x-column-header-over {
//     color: #FFF !important;
//     background-color: #000 !important;
//     border: none;
// }
// .x-column-header .x-column-header-open {
//     background-color: #000 !important;
// }
// .x-column-header-trigger {
//     background: none;
//     background-color: #000 !important;
// }
// .x-column-header-align-left {
//     text-align: center !important;
// }
// .x-grid-item-focused {
//     .x-grid-cell-inner:before {
//         border: none !important;
//     }
// }
// .x-grid-row .x-grid-cell {
//     border-bottom: none !important;
//     border-top: none !important;
//     border-right: 1px solid rgba(115, 109, 109, 0.09);
// }
// .x-grid-with-row-lines .x-grid-item {
//     border-width: 0px !important;
// }
// .x-grid-dirty-cell > .x-grid-cell-inner:after {
//     content: "" !important
// }
// }

.rule-tb-cls.x-toolbar-default {
    padding: 13px 0 6px 8px;
    border-style: none;
    border-width: 0px;
    background-image: none;
    height: 55px;
    background-color: transparent;
}

.rule-add-btn {
    &.x-btn-default-toolbar-small {
        @include border-radius(6px !important);
        background-color: #000 !important;
        border-color: #000 !important;
        width: 110px;
    }
    .x-btn-inner-default-toolbar-small {
        font-size: 12px !important;
        color: #f0f0f0;
    }
}

.rule-window-cls {
    .x-window-header-title-default > .x-title-text-default{
        text-align: center;
    }
    .x-panel-body-default{
        background-color: #fff !important;
    }
}
.rule-window-cls{
    &.x-window-default {
        border: none !important;
        background:#000 !important;
    }
}
.filterBtnsCls {
    margin-left:1px;
    width:60px; 
    margin-left:5px; 
    width:104px; 
    height:29px;
    text-overflow: ellipsis !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    cursor: auto !important;
}

.filterBtnsClsCancel {
    width: 28px;
    height: 29px;
    margin-left: -8px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.job-search-field {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.01);
}


//JobApplications.scss

//for job application , job opening and referalls
.exp-iconcls{
    background-image: url(/resources/images/jobs/ic_work_black_-1.svg);
    background-repeat: no-repeat;
    width: 16px !important;
    height: 16px !important;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 0px;
}
.arrow-cls{
    vertical-align: top;
    font-style: normal;
}

.loc-exp{
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 4px;
}
.loc-exp-myreferrals{
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 4px;   
}
.loc-exp-interviewexp{
     font-size: 14px;
     padding-top: 8px;
     padding-bottom: 4px;   
}
.loc-exp-interviewskill{
 font-size: 14px;
    /*padding-top: 8px;*/
    padding-bottom: 8px;   
}
.loc-exp-interviewdec{
 font-size: 14px;
    padding-bottom: 25px;   
}
.loc-exp-applications{
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 4px;   
}
.location-iconcls{
    background-image: url(/resources/images/jobs/ic_location_on_black_24px.svg);
    background-repeat: no-repeat;
    width: 16px !important;
    height: 16px !important;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 13px;
    margin-right: 2px;
    margin-bottom: 0px;
}
.skill-cls{
    font-size: 14px;
}
.skill-iconcls{
    background-image: url(/resources/images/jobs/ic_adjust_black_24px.svg);
    background-repeat: no-repeat;
    width: 16px !important;
    height: 16px !important;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0px;
}
.desc-cls{
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 14px;
    height:35px;
    word-break: break-word;
}
.status-div-cls{
    padding: 17px 13px;
}
.status-div-cls-interviewreq{
    padding: 25px 10px;   
}
.status-div-referrals-cls{
 padding: 10px 13px !important;   
}

.status-textcls {
    display: inline-block;
}

.status-textcls .Awaiting, .status-textcls .Approval, .status-textcls .Closed {
    color: grey;
}
.status-textcls .Approved {
    color: green;
}
.status-textcls .Drafted {
    color: blue;
}
.status-textcls .Rejected {
    color: red;
}
.create-jobapplication-btn-cls { 
    float: right;
    background: #31a950 !important;
    padding: 3.5px 12px;

    color: white !important;
    border-radius: 5px;
    font-size: 12px;
    margin-top: -1px;
}
.ddo-jobopening-item-applications{
    width: 100% !important;
    /*height: 167px;*/
    min-height: 156px;
    max-height: 156px;
    display: table;
    padding: 15px;
    background: #fff;   
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.title-div-cls{
    padding-bottom: 8px;
    display: inline;
}
.title-cls{
    font-size: 16px;
    font-weight: 500;
}
.creator-cls{
    font-size: 16px;
    color: #919191;
}
.create-jobapplication-starbtn-cls { 
    color: white !important;
    border-radius: 5px;
    margin-left: 26px;
    display:inline;
}
.star-cls{
    background-image: url(/resources/images/jobs/job_star.svg);
    background-repeat: no-repeat;
    width: 23px !important;
    height: 30px !important;
    display: inline-block;
    //position: absolute;
    margin-top: -16px;
    left: 335px;
    /*float: right;*/
    /*right: 30%;*/
    /*top: -16px;*/
}
.positions-cls{
    float: right;
    background: #FFCB69;
    padding: 3.5px 12px;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
}
.rec-assigncls {
    float: left;
    margin-right: 10px;
}
//referall styling 
.tooltip-cls {
    padding: 6px 0 6px 8px;
    border-style: none;
    border-width: 0px;
    background-image: none;
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: #fff !important;
}
// .goalsbackbtn-cls {
//     font-family: 'Awesome' !important;
//     /*font-size: 30px;*/
//     color:#FFFFFF !important;
// }   

// .goalsbackbtn-cls:before {
//     content: '\0031' !important;
//     font-size: 24px;
//     position: relative;
// }
.jobback-btn-cls {
    left: 0 !important;
    background-color: #000000 !important;
   /*height: 50px;
    width: 50px;*/
    border-radius: 4px;
}
.fa-arrow-left:before{
    color:#fff;
    font-size: 19px;
    font-weight: lighter;
}
.backlabel-cls {
    left: 45px !important;
        color: #818181;
    font-size: 15px;
}
.titlelabel-cls {
    left: 351px !important;
    color: #818181;
    font-size: 15px;
}

.jobdataviewcls {
    margin-bottom: 108px;
}
.mobile-iconcls{
    background-image: url(/resources/images/jobs/ic_call_black_24px.svg);
    background-repeat: no-repeat;
    width: 16px !important;
    height: 16px !important;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0px;
}
.mail-iconcls{
    background-image: url(/resources/images/jobs/ic_email_black_24px.svg);
    background-repeat: no-repeat;
    width: 16px !important;
    height: 16px !important;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 0px;
}
.download-iconcls{
    background-image: url(/resources/images/jobs/ic_file_download_black_24px.svg);
    background-repeat: no-repeat;
    width: 13px !important;
    height: 13.5px !important;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 3px;
}
.status-combo-cls {
    float: right;
    margin-right: 12px;
    height:30px;
}
.download-cls{
    color: #0078BE
}

.delete-plus{
    font-family: 'WtcFontResource' !important;
    font-size: 18px;
}
.fa-trash:before{
    color: #000;
    font-size: 13px;
}
.fa-plus{
    color: #fff;
}
.delete-plus:before {
    content: '\005B' !important;   
    color: #000;
    bottom:2px;
    font-size:18px; 
    position: relative;
    top:2px;
}
.filter-window-color{
    .x-panel-body-default{
        background-color: #fff !important;
    }
}
.form-cls{
    .x-panel-body-default{
        background-color: #fff !important;
    }
}
.create-jobreferrals-btn-cls {
    float: right;
    background: #31a950 !important;
    padding: 6.5px 30px;
    color: white !important;
    border-radius: 5px;
    font-size: 12px;
    width: 137px;   
    margin-bottom: 8px;
    height: 30px;
}
.act-cls{
    float: right;
    margin-left: 10px;
}
.create-new-btn-cls.x-btn-default-small { 
    background-color: #31a950 !important;
    border-color: #31a950 !important;
    margin: 0px 0 0 15px;
    height: 35px;
    border-radius: 4px !important;
    
}
.create-new-btn-cls .x-btn-inner-default-toolbar-small {
    color:white;
    /*padding: 3px 30px 0px 0px;*/
    text-align: center;
}


.loc-exp-applications-skills{
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;    
 }
 .loc-exp-applications-edu{
     font-size: 14px;
     padding-top: 4px;
     padding-bottom: 4px;   
 }
 .loc-exp-applications-con{
     font-size: 14px;
    padding-top: 4px;
      padding-bottom: 8px;   
  }

  .positions-cls{
    float: right;
    background: #FFCB69;
    padding: 3.5px 12px;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
}
.interview-cls{
    float: right;
    background: black;
    padding: 3.5px 12px;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
}
.act-showcls{
    position: absolute;
    background: #fff;
    display:block;
    padding: 5px 10px;
    line-height: 1.3;
    li {
        list-style: none;
        font-size:11px;
        padding-bottom: 7px;
    }
    ul {
        margin: 8px;
        padding: 0px;
    }
}
.act-showcls2{
    position: absolute;
    background: content-box;
    display:block;
    padding: 5px 10px;
    line-height: 1.3;
    li {
        list-style: none;
        font-size:11px;
        padding-bottom: 7px;
    }
    ul {
        margin: 8px;
        padding: 0px;
    }
}
.act-removecls{
    display: none;
}



/******grid styling ******/
.x-grid-row {
	border-color: #d7d7d7;

    &.x-grid-item-odd {
        background-color: #222222;
    }

    &.x-item-selected {
        background-color: #910091;
    }
}

.x-grid-viewoptions {
    background-color: #000;

	.x-list-item.x-list-item-tpl {
		color: #aaa;
	}

    .x-column-options-text {
        margin: 5px 50px 5px 80px;
    }

    .x-list-item-dragging {
		background-color: #000 !important;
		border-color: #000 !important;
    }

    .x-list-item.x-item-selected.x-list-item-tpl  {
        .x-column-options-text {
            color: #fff;
        }

        .x-column-options-visibleindicator:after {
            color: #910091;
        }

        .x-column-options-sortablehandle:after {
            color: #fff;
        }

        .x-column-options-folder:after,
        .x-column-options-leaf:after {
            color: #fff;
        }
    }
}

.x-grid-multiselection-column {
    &.x-grid-multiselection-allselected:after {
        color: #910091 !important;
    }
}

.x-grid-pagingtoolbar {
    > .x-body {
        padding: 0 50px;
    }

    .x-button {
    	margin: 6px 6px 0;
    }
}

.x-grid-pagingtoolbar-currentpage {
    position: relative;
    height: 22px;

    span {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 22px;
        height: 22px;
    }
}

.x-grid-summaryrow {
    background-color: #505050;

    .x-grid-cell {
        border-color: #C0C0C0;
    }
}

.x-grid-header {
    background-color: #000;
    background-color: #000;
    color: #fff;
    border: 0;
    padding-left: 5px;
    font-weight: normal;
    font-size: 17pt;
}