// /*
//  * This file contains styling for the Main view.
//  */

// /*
//  * Generates a set of style rules for the "navigation" tab UI.
//  */
// @include extjs-tab-panel-ui(
//     $ui: 'navigation',
//     $ui-tab-background-color: transparent,
//     $ui-tab-background-color-over: #505050,
//     $ui-tab-background-color-active: #303030,
//     $ui-tab-background-gradient: 'none',
//     $ui-tab-background-gradient-over: 'none',
//     $ui-tab-background-gradient-active: 'none',
//     $ui-tab-color: #acacac,
//     $ui-tab-color-over: #c4c4c4,
//     $ui-tab-color-active: #fff,
//     $ui-tab-glyph-color: #acacac,
//     $ui-tab-glyph-color-over: #c4c4c4,
//     $ui-tab-glyph-color-active: #fff,
//     $ui-tab-glyph-opacity: 1,
//     $ui-tab-border-radius: 0,
//     $ui-tab-border-width: 0,
//     $ui-tab-inner-border-width: 0,
//     $ui-tab-padding: 24px,
//     $ui-tab-margin: 0,
//     $ui-tab-font-size: 15px,
//     $ui-tab-font-size-over: 15px,
//     $ui-tab-font-size-active: 15px,
//     $ui-tab-line-height: 19px,
//     $ui-tab-font-weight: bold,
//     $ui-tab-font-weight-over: bold,
//     $ui-tab-font-weight-active: bold,
//     $ui-tab-icon-width: 24px,
//     $ui-tab-icon-height: 24px,
//     $ui-tab-icon-spacing: 5px,
//     $ui-bar-background-color: #404040,
//     $ui-bar-background-gradient: 'none',
//     $ui-bar-padding: 0,
//     $ui-strip-height: 0
// );

// /*
//  * Generates a set of style rules for the "navigation" panel UI.
//  */
// @include extjs-panel-ui(
//     $ui: 'navigation',
//     $ui-header-color: #fff,
//     $ui-header-glyph-color: #fff,
//     $ui-header-glyph-opacity: 1,
//     $ui-header-font-size: 20px,
//     $ui-header-line-height: 24px,
//     $ui-header-font-weight: bold,
//     $ui-header-icon-height: 24px,
//     $ui-header-icon-width: 24px,
//     $ui-header-icon-spacing: 15px,
//     $ui-header-background-color: $base-color,
//     $ui-header-padding: 0,
//     $ui-header-text-margin: 36px,
//     $ui-header-noborder-adjust: false
// );

// .x-title-icon-navigation {
//     font-family: FontAwesome;
//     color: #fff;
//     font-size: 24px;
//     line-height: 24px;
// }

// .x-tab-icon-el-navigation {
//     font-family: FontAwesome;
//     color: #acacac;

//     .x-tab-over & {
//         color: #c4c4c4;
//     }

//     .x-tab-active & {
//         color: #fff;
//     }
// }

// .x-panel-header-title-navigation > .x-title-text-navigation:after {
//     top: 30px;
//     right: -24px;
// }

// //preferences.scss


// .wallet-toolbar-cls{
//     background:transparent;
//     text-align: center;
//     left:0px !important;
//     padding: 10px 0px 10px 10px;
//     .x-box-inner{
//        border-top: 1px solid #EBEBEB;
//     }
// }

// .wallet-toolbar-cls .x-box-inner {
//     border-top: 0px solid #ebebeb !important;
// }

// .karmalist-cls {
// .x-column-header {
//     border-right: 0px !important;
//     color: #fff;
//     outline: 0;
//     background-color: #000;
// }
// .x-grid-header-ct {
//     background-color: #000 !important;
// }
// .x-grid-cell {
//     position: relative;
//     padding: 3px;
// }
// .x-column-header-over {
//     color: #FFF !important;
//     background-color: #000 !important;
//     border: none;
// }
// .x-column-header .x-column-header-open {
//     background-color: #000 !important;
// }
// .x-column-header-trigger {
//     background: none;
//     background-color: #000 !important;
// }
// .x-column-header-align-left {
//     text-align: center !important;
// }
// .x-grid-item-focused {
//     .x-grid-cell-inner:before {
//         border: none !important;
//     }
// }
// .x-grid-row .x-grid-cell {
//     border-bottom: none !important;
//     border-top: none !important;
//     border-right: 1px solid rgba(115, 109, 109, 0.09);
// }
// .x-grid-with-row-lines .x-grid-item {
//     border-width: 0px !important;
// }
// .x-grid-dirty-cell > .x-grid-cell-inner:after {
//     content: "" !important
// }
// }

// .rule-tb-cls.x-toolbar-default {
//     padding: 13px 0 6px 8px;
//     border-style: none;
//     border-width: 0px;
//     background-image: none;
//     height: 55px;
//     background-color: transparent;
// }

// .rule-add-btn {
//     &.x-btn-default-toolbar-small {
//         @include border-radius(6px !important);
//         background-color: #000 !important;
//         border-color: #000 !important;
//         width: 110px;
//     }
//     .x-btn-inner-default-toolbar-small {
//         font-size: 12px !important;
//         color: #f0f0f0;
//     }
// }

// .rule-window-cls {
//     .x-window-header-title-default > .x-title-text-default{
//         text-align: center;
//     }

// }
// .rule-window-cls{
//     .x-window-default {
//         border: none !important;
//         background:#000 !important;
//     }
// }

// .x-window-header {
//     background: #000;
//     border-color: #000;
// }
// //JobApplications.scss

// .ddo-jobopenings-grid {
//     position: fixed;
// }
// .ddo-dashboard-grid .x-panel-header-default {
// 	background-color: #000;	
// 	border-color: #000;
// }
// .jobopening-cls .x-dataview-item {
// 	width:48%;
//     display: inline-block;
//     cursor: pointer;
//     vertical-align: top;
//     margin: 8px;
//     -webkit-border-radius: 4px;
//     -moz-border-radius: 4px;
//     -ms-border-radius: 4px;
//     -o-border-radius: 4px;
//     border-radius: 4px;
//     -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     -webkit-transition: -webkit-all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
//     -moz-transition: -moz-all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
//     -o-transition: -o-all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
//     transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
// }
// .jobopening-cls .ddo-jobopening-item {
//     width: 100% !important;
// 	display: table;
// 	padding: 15px;
// 	background: #fff;	
//     -webkit-border-radius: 4px;
//     -moz-border-radius: 4px;
//     -ms-border-radius: 4px;
//     -o-border-radius: 4px;
//     border-radius: 4px;
// }
// .status-combo-cls {
//     float: right;
// }
// .arrow-cls{
// 	vertical-align: top;
// }

// .status-div-cls{
// 	padding: 15px;
// }
// .action-cls{
// 	display:none;
// }
// select.select-cls {
//     border: none !important;
//     background: transparent;
// }
// .title-cls{
//     font-size: 16px;
//     font-weight: 500;
// }
// .creator-cls{
//     font-size: 16px;
//     color: #919191;
// }
// .title-div-cls{
//     padding-bottom: 8px;
// }
// .desc-cls{
//     padding-bottom: 18px;
//     padding-top: 18px;
//     font-size: 14px;
// }
// .loc-exp{
//     font-size: 14px;
//     padding-bottom: 8px;
// }
// .skill-cls{
//     font-size: 14px;
// }
// .positions-cls{
//     float: right;
//     background: #FFCB69;
//     padding: 3px 6px;
//     border-radius: 12px;
//     color: #fff;
//     font-size: 12px;
// }
// .act-showcls{
//     position: absolute;
//     background: #fff;
//     display:block;
//     li {
//         list-style: none;
//     }
//     ul {
//         margin: 8px;
//         padding: 0px;
//     }
// }
// .act-removecls{
//     display: none;
// }
// .act-cls{
//     float: right;
// }
// .rec-assigncls {
//     float: left;
// }
// .checkImg {
//     background-image: url(/resources/images/Check-box.svg);
//     background-repeat: no-repeat;
//     width: 12px !important;
//     height: 14px !important;
//     vertical-align: bottom;
//     display: inline-block;
//     margin-right: 5px;
// }

// .jobback-btn-cls {
//     left: 0 !important;
//     background-color: #000000 !important;
// }

// .backlabel-cls {
//     left: 45px !important;
//         color: #818181;
//     font-size: 15px;
// }

// .titlelabel-cls {
//     left: 351px !important;
//     color: #818181;
//     font-size: 15px;
// }

// .upload-cls {
//     background: url(./images/icons/round_delete.png);
// }
// .tooltip-cls {
//         padding: 6px 0 6px 8px;
//         border-style: none;
//         border-color: #d0d0d0;
//         border-width: 0px;
//         background-image: none;
//         background-color: #efefef !important;
//     }


// .form-cls{
    
    
//     .x-panel-header-title-default {
//         text-transform: none;
//         padding: 0;
//         text-align: center;
//     }   

//     li.x-tagfield-item {
//         background: #FFCB69 !important;
//         border-radius: 4px !important;
//     }

//     .x-form-item-body {
//         vertical-align: middle;
//         height: 100%;
//         /* border: 1px solid #dedede;*/
//     }

//     .x-form-text-field-body-default {
//          border: 1px solid #dedede !important;
//     }

//     .x-panel-header-title-default > .x-title-text-default {
//         color: #818181 !important;
//         font-weight: 500 !important;
//         /* font-size: 16px; */
//     }

//     .ta-mandatory-field-cls {
//     color: red;
//     }


//     .x-form-item-label-default {
//         color: #919191 !important;
       
//     }

//     .x-btn-default-small {
//         border-color: #d0d0d0 !important;
//         background-color: white !important; 
//     }   

//     .x-btn-icon-el-default-small {
//         font-size: 16px;
//         height: 16px;
//         color: #404040;
//         line-height: 16px;
//     }
    
//     .x-btn-inner-default-small {
//         font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//         color: #404040 !important;
//         padding: 0 5px; 
//     }
    
// }

// .fieldcontainer-cls {
//     border: 1px solid white;
// }

// .editor-cls {
//     .x-toolbar-default {
//     background-color: #404040;
//     color: white;
//     }
// }


// .job-header .x-panel-header-default {
//     background-color: rgba(255, 255, 255, 0) !important;
//     border-color: #fff !important;
// }



// .tag-cls li.x-tagfield-item {
//         background: #919191 !important;
//         border-radius: 4px !important;
//     }


// .jobform-cls {

//     .approval-btn {
//         background-image: none;
//         background-color:#19A844 !important;
//         border: #19A844 !important;
//         color: white;
//     }

//     .require-btn .x-btn-inner-default-toolbar-small {
//         font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//         /*color: !important;*/
//         padding: 0 5px;
//         text-decoration: underline;
//         /* max-width: 100%; */
//     }

//     .approval-btn .x-btn-inner-default-toolbar-small {
//         font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//         color: white !important;
//         padding: 0 5px;
        
//         /* max-width: 100%; */
//     }
// }

// .job-header .x-panel-header-default {
//     background-color: rgba(255, 255, 255, 0) !important;
//     border-color: #fff !important;
// }

// .combo-cls {
    
//     .x-form-text-field-body-default {
//          min-width: 89px;
//         /* max-width: 170px; */
//     }
// }

// /* filters sass */

// .create-new-btn-cls.x-btn-default-small { 
//     background-color: #31a950 !important;
//     border-color: #31a950 !important;
//     margin: 0px 0 0 15px;
//     height: 35px;
    
// }
// .create-new-btn-cls .x-btn-inner-default-toolbar-small {
//     color:white;
//     /*padding: 3px 30px 0px 0px;*/
//     text-align: center;
// }
// /*.requestCombo-cls .x-form-trigger-default {
//     border: 1px solid gray;
// }*/
// .requestCombo-cls .x-form-text-field-body-default {
//         border: 1px solid #d2cbcb;
// }
// .requestCombo-cls .x-form-item-label .x-form-item-label-defaultx-unselectable {
//     width: 82px;
// }
// /*.add-filter-apply-btn .x-btn-inner-default-toolbar-small {
    
//     color: white;
// }*/
// .filter-submit-btn .x-btn-inner-default-toolbar-small {
//     color:#ffffff !important;
// }

// .karmascore-search-field {
//     margin-left: 15px !important;
// }

//  .job-search-icon{
//         margin-left: 15px !important;       
//     margin-top: -8px !important;
// }
   

// .filtertoolbar-cls {
//     .x-panel-body-default {
//         background: transparent;
//     }
// }


/*
 * This file contains styling for the Main view.
 */

/*
 * Generates a set of style rules for the "navigation" tab UI.
 */
 @include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #505050,
    $ui-tab-background-color-active: #303030,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #acacac,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: #404040,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);

/*
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false
);

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

//preferences.scss


.wallet-toolbar-cls{
    background:transparent;
    text-align: center;
    left:0px !important;
    padding: 10px 0px 10px 10px;
    .x-box-inner{
       border-top: 1px solid #EBEBEB;
    }
}

.wallet-toolbar-cls .x-box-inner {
    border-top: 0px solid #ebebeb !important;
}

// .karmalist-cls {
// .x-column-header {
//     border-right: 0px !important;
//     color: #fff;
//     outline: 0;
//     background-color: #000;
// }
// .x-grid-header-ct {
//     background-color: #000 !important;
// }
// .x-grid-cell {
//     position: relative;
//     padding: 3px;
// }
// .x-column-header-over {
//     color: #FFF !important;
//     background-color: #000 !important;
//     border: none;
// }
// .x-column-header .x-column-header-open {
//     background-color: #000 !important;
// }
// .x-column-header-trigger {
//     background: none;
//     background-color: #000 !important;
// }
// .x-column-header-align-left {
//     text-align: center !important;
// }
// .x-grid-item-focused {
//     .x-grid-cell-inner:before {
//         border: none !important;
//     }
// }
// .x-grid-row .x-grid-cell {
//     border-bottom: none !important;
//     border-top: none !important;
//     border-right: 1px solid rgba(115, 109, 109, 0.09);
// }
// .x-grid-with-row-lines .x-grid-item {
//     border-width: 0px !important;
// }
// .x-grid-dirty-cell > .x-grid-cell-inner:after {
//     content: "" !important
// }
// }

.rule-tb-cls.x-toolbar-default {
    padding: 13px 0 6px 8px;
    border-style: none;
    border-width: 0px;
    background-image: none;
    height: 55px;
    background-color: transparent;
}

.rule-add-btn {
    &.x-btn-default-toolbar-small {
        @include border-radius(6px !important);
        background-color: #000 !important;
        border-color: #000 !important;
        width: 110px;
    }
    .x-btn-inner-default-toolbar-small {
        font-size: 12px !important;
        color: #f0f0f0;
    }
}

.rule-window-cls {
    .x-window-header-title-default > .x-title-text-default{
        text-align: center;
    }

}
.rule-window-cls {
    &.x-window-default {
        border: none !important;
        background:#000 !important;
    }
}


//JobApplications.scss
