.filtertoolbar-cls {
    .x-panel-body-default {
        background: transparent;
    }
}

.tooltip-cls {
    padding: 6px 0 6px 8px;
    border-style: none;
    border-color: #d0d0d0;
    border-width: 0px;
    background-image: none;
    background-color: #efefef !important;
}

// .goalsbackbtn-cls {
//     font-family: 'Awesome' !important;
//     /*font-size: 30px;*/
//     color:#FFFFFF !important;
// }   

// .jobback-btn-cls {
//     left: 0 !important;
//     background-color: #000000 !important;
//    /*height: 50px;
//     width: 50px;*/
//     border-radius: 4px;
// }
.myreferrals-btn-cls.x-btn-default-small{
    background-color: #585858 !important;
    border-color: #585858 !important;
    margin: 0px 0 0 15px;
    height: 35px;
    border-radius: 4px !important;
}


.titlelabelMyreferrals-cls {
    left: 458px !important; 
    color: #818181;
    font-size: 15px;   
}

.job-search-icon{
    margin-left: 5px !important;       
    margin-top: -8px !important;
}

.karmascore-search-field {
    margin-left: 15px !important;
}

.searchFields{
    .x-form-text-default{
        padding-left:17px !important;
    }
}

// .filter-btncls.x-btn-default-small {
//     background-color: #fff !important;
//     border-radius: 4px !important;
//     border: none;
//     height: 33px;
//     width: 33px;
//     background-size: 24px !important;
//     background-position: 5px 5px;
//     background-image: url(/resources/images/jobs/ic_filter_list_black_24px.svg);
//     display: inline-block;
//     background-repeat: no-repeat;
//     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.01);
// }

// .filterBtnsCls {
//     margin-left:1px;
//     width:60px; 
//     margin-left:5px; 
//     width:104px; 
//     height:29px;
//     text-overflow: ellipsis !important;
//     border-bottom-right-radius: 0 !important;
//     border-top-right-radius: 0 !important;
//     cursor: auto !important;
// }

// .filterBtnsClsCancel {
//     width: 28px;
//     height: 29px;
//     margin-left: -8px;
//     border-bottom-left-radius: 0 !important;
//     border-top-left-radius: 0 !important;
// }

.filter-submit-btn {
    background: rgba(26, 148, 58, 0.88) !important;
    border: none !important;
    padding: 8px !important;
}

.filter-submit-btn .x-btn-inner-default-toolbar-small { 
    color:#ffffff !important;
}