.filtertoolbar-cls {
    .x-panel-body-default {
        background: transparent;
    }
}

.tooltip-cls {
    padding: 6px 0 6px 8px;
    border-style: none;
    border-color: #d0d0d0;
    border-width: 0px;
    background-image: none;
    background-color: #efefef !important;
}

.titlelabelMyreferrals-cls {
    left: 458px !important; 
    color: #818181;
    font-size: 15px;   
}

.job-search-icon{
    margin-left: 5px !important;       
    margin-top: -8px !important;
}

.karmascore-search-field {
    margin-left: 15px !important;
}

.searchFields{
    .x-form-text-default{
        padding-left:17px !important;
    }
}

.filter-btncls.x-btn-default-small {
    background-color: #fff !important;
    border-radius: 4px !important;
    border: none;
    height: 33px;
    width: 33px;
    background-size: 24px !important;
    background-position: 5px 5px;
    background-image: url(/resources/images/jobs/ic_filter_list_black_24px.svg);
    display: inline-block;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.01);
}


.filter-submit-btn {
    background: rgba(26, 148, 58, 0.88) !important;
    border: none !important;
    padding: 8px !important;
}

.filter-submit-btn .x-btn-inner-default-toolbar-small { 
    color:#ffffff !important;
}

.ddo-filter-window {
    .x-window-body-default {
        border: none !important;
        background: #fff !important;
        border-color: transparent !important;
    }
    .x-window-header {
        border: none !important;
        //border-bottom: 1px solid #dcdcdc !important;
        background-color: transparent !important;
    }
    .x-window-header-title-default > .x-title-text-default {
        text-align: center;
        color: #000 !important;
    }
    &.x-window-default {
        border: 0px solid transparent !important;
    }
    .x-header > .x-box-inner {
        border-bottom: 1px solid #dcdcdc !important;
        padding: 15px;
    }
}

.ddo-filter-window .x-tool-img{
    width: 20px !important;
    height: 20px !important;
    padding:1px !important;
    background: black !important;
    border-radius: 30px !important;
}

.ddo-filter-window {
    border: 2px solid #000 !important;
    border-radius: 10px;
}
